body{
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url("/src/img/sivatag.jpg");
	font-family:cursive;
}

p{
	text-align:justify;
}

hr{
	border:2px solid orange;
}

input{
	background-color:transparent;
	font-family:cursive;
	width:100px;
	margin-bottom:10px;
	font-weight:bold;
	padding:5px;
}

h1 {
border: 3px solid orange;
}

a {
	color: orange;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
}

a:hover {
	color:white;
	background-color: darkorange;
	text-decoration: underline;
}

#vers{
	width:600px;
	margin: 0 auto;
}

#fohasz{
	text-transform: uppercase;
	font-style:italic; 
	text-align:center;  
}

#oazis{
	width:30%;
}

#romhanyi {
	text-align: right;
	font-style: italic;
	font-size: 11px;
}

#jobbra {
	text-align: right;
}